<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>youtube_parallel_caption</title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div id="app">
      <div>
        <input type="text" v-model="videoId" placeholder="Enter video id">
        <button v-on:click="startVideo">Start video</button>
      </div>
      <div id="player">[[ Player display area ]]</div>
      <section>
        <div id="en-area">
          <p>====== English caption ======</p>
          <p v-for="(caption, index) in captionListEn" v-bind:id="caption.id" v-on:click="jumpTo('en', index)">
            {{caption.text}}
          </p>
        </div>
        <div id="ja-area">
          <p>====== Japanese caption ======</p>
          <p v-for="(caption, index) in captionListJa" v-bind:id="caption.id" v-on:click="jumpTo('ja', index)">
            {{caption.text}}
          </p>
        </div>
      </section>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>