<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>youtube_parallel_caption</title>
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-8 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Video ID:</span>
          </div>
          <input type="text" v-model="videoId" placeholder="video id" class="form-control">
          <div class="input-group-append">
            <button v-on:click="startVideo" class="btn btn-info">Start</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="player" class="col-12">[[ Player display area ]]</div>
      </div>
      <section class="row">
        <div id="en-area" class="col-sm-12 col-md-6 position-static" v-bind:style="captionStyleObject">
          <p>====== English caption ======</p>
          <p v-for="(caption, index) in captionListEn" v-bind:id="caption.id" v-on:click="jumpTo('en', index)">
            {{caption.text}}
          </p>
        </div>
        <div id="ja-area" class="col-sm-12 col-md-6 position-static" v-bind:style="captionStyleObject">
          <p>====== Japanese caption ======</p>
          <p v-for="(caption, index) in captionListJa" v-bind:id="caption.id" v-on:click="jumpTo('ja', index)">
            {{caption.text}}
          </p>
        </div>
      </section>
    </div>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>